;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;==========================================================

; read colors from pywal
[colors]
background = ${xrdb:color0:#222}
foreground = ${xrdb:color7:#222}
foreground-alt = ${xrdb:color6:#222}
background-alt = $(xrdb:color5:#222}
primary = ${xrdb:color1:#222}
secondary = ${xrdb:color2:#222}
alert = ${xrdb:color3:#222}
c8 = ${xrdb:color8:#222}
c9 = ${xrdb:color9:#222}
c10 = ${xrdb:color10:#222}
c11 = ${xrdb:color11:#222}
c12 = ${xrdb:color12:#222}
c13 = ${xrdb:color13:#222}
c14 = ${xrdb:color14:#222}

[bar/example]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 20
;override-redirect=true
offset-x = 0
offset-y =  3
;wm-restack=i3
radius = 0.0
fixed-center = false
;separator=
background = ${colors.background}
foreground = ${colors.background}

line-size = 3
line-color = ${colors.c9}

border-size = 5
border-color = ${colors.background}
;#00000000

padding-left = 0
padding-right = 0

module-margin-left = 0
module-margin-right = 0 

font-0 = RobotoMono Nerd Font :antialias=true:pixelsize=10;1
font-1 = RobotoMono Nerd Font:antialias=true:size=6;2
font-2 = RobotoMono Nerd Font:antialias=false:size=14;2
modules-left = s7 s4 i3 s5 
modules-center = 
modules-right =   s4 cpu s1  memory s1  temperature s1  date s5  powermenu s6

tray-position = right
tray-padding = 0
;tray-background = #0063ff

;wm-restack = bspwm
;wm-restack = i3
;override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize

[bar/bottom]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 20
;override-redirect=true
offset-x = 0
offset-y =  3
;wm-restack=i3
radius = 0.0
fixed-center = false
;separator=
background = ${colors.background}
; #00000000
;${colors.background}
foreground = ${colors.background}
bottom=true
line-size = 0
line-color = #f00

border-size = 5
border-color = ${colors.background}
;#00000000

padding-left = 0
padding-right = 0

module-margin-left = 0
module-margin-right = 0 

font-0 = RobotoMono Nerd Font :antialias=true:pixelsize=10;1
font-1 = RobotoMono Nerd Font:antialias=true:size=4;2
font-2 = RobotoMono Nerd Font:antialias=false:size=14;2
font-3 - RobotoMono Nerd Font:antialias=true:size=18;0
; siji
modules-left = s9 
modules-center = 
; pulseaudio
modules-right =  s4 spotify s1 pulseaudio s1 wlan  s3 s8

tray-position = right
tray-padding = 0
;tray-background = #0063ff

;wm-restack = bspwm
;wm-restack = i3
;override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize




[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = "Key:"
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/s1]

type = custom/text
content = "%{T3}%{T-}"
content-background = ${bar/example.background}
;#00000000
content-foreground = ${colors.primary}

[module/s2]

type = custom/text
content = "%{T3}"
content-background=${bar/example.background}
content-foreground=${colors.primary}

[module/s3]
type=custom/text
content="%{T3}%{T-}"
content-background=${bar/example.background}
content-foreground=${colors.primary}

[module/s4]
type=custom/text
content="%{T3}%{T-}"
content-background = ${bar/example.background}
content-foreground = ${colors.primary}

[module/s5]
type = custom/text
content = "%{T3}%{T-}"
content-background = ${bar/example.background}
content-foreground = ${colors.primary}

[module/s6]
type = custom/text
content = "%{T3}%{T-}"
content-background = ${bar/example.background}
content-foreground = ${bar/example.border-color}


[module/s7]
type = custom/text
content = "%{T3}%{T-}"
content-background = ${bar/example.background}
content-foreground = ${bar/example.border-color}


[module/s8]
type = custom/text
content = "%{T3}%{T-}"
content-background = ${bar/example.background}
content-foreground = ${bar/example.border-color}


[module/s9]
type = custom/text
content = "%{T3}%{T-}"
content-background = ${bar/example.background}
content-foreground = ${bar/example.border-color}

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/bspwm]
type = internal/bspwm

label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

label-occupied = %index%
label-occupied-padding = 2

label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

label-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2

; Separator in between workspaces
 label-separator = |

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
pin-workspaces =false 
;format-background = ${colors.background}

label-mode-padding = 0
label-mode-foreground = ${colors.foreground}
;#000
label-mode-background = ${colors.secondary}

; focused = Active workspace on focused monitor
label-focused = 
;%icon%
label-focused-background = ${colors.primary}
;${module/bspwm.label-focused-background}
label-focused-underline = #00000000
;${module/bspwm.label-focused-underline}
label-focused-padding = ${module/bspwm.label-focused-padding}
;label-focused-format = ${colors.foreground}
label-focused-foreground= ${colors.background}
; unfocused = Inactive workspace on any monitor
label-unfocused = 
;%icon%
label-unfocused-padding = ${module/bspwm.label-occupied-padding}
label-unfocused-background = ${colors.primary}

;ws-icon-0 = 1;
;ws-icon-1 = 2;
;ws-icon-2 = 3;3
;ws-icon-3 = 4;4
;ws-icon-4 = 5;5

label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index%
label-urgent-background = ${module/bspwm.label-urgent-background}
label-urgent-padding = ${module/bspwm.label-urgent-padding}

; Separator in between workspaces
 label-separator = 


[module/mpd]
type = internal/mpd
format-online = <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>

icon-prev = a
icon-stop = b
icon-play = c 
icon-pause = d
icon-next = e

label-song-maxlen = 25
label-song-ellipsis = true

[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label =" ﯦ "
label-foreground=${colors.background}

label-padding =1
;fbe6 
format-background = ${colors.primary}

bar-width = 10
bar-indicator = 
bar-indicator-foreground = ${colors.foreground}
;#fff
bar-indicator-font = 2
bar-fill = ""
bar-fill-font = 2
bar-fill-foreground = ${colors.background}
bar-fill-padding-left = 1
;#9f78e1

bar-empty = ""
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground}
bar-empty-padding-right = 1

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
format=<label>

label-padding =1
type = internal/cpu
interval = 2
format-prefix = "  "
format-background = ${colors.primary}
format-prefix-foreground = ${colors.background}
;format-underline = ${colors.primary} 
;; note that this is how to make underline go away
;#f90000
label = %percentage-sum%

[module/spotify]

type = custom/script
interval = 3
format-prefix="%{T1}%{T-} "
format <label>
format-background = ${colors.primary}
exec = python /home/slr/Music/polybar-spotify/spotify_status.py -f '{song} by {artist}'

[module/memory]
type = internal/memory
interval = 2
format-prefix = "  "
format-background = ${colors.primary}
format-prefix-foreground = ${colors.background}
;format-underline = ${colors.primary}
;;

label-padding =1
;#4bffdc
label = %gb_free%

[module/wlan]
type = internal/network
interface = wlo1
interval = 0.5

format-connected-prefix="直| "
format-connected =  <label-connected>
format-connected-underline = #9f78e1
label-connected = %local_ip%|%essid%| %upspeed%   %downspeed% 
format-connected-background=${colors.primary}

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${colors.background}

[module/eth]
type = internal/network
interface = wlp59s0
interval = 3.0

format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.primary}
label-connected = %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

[module/date]
type = internal/date
interval = 5

date =
date-alt = " %Y-%m-%d"

time = %I:%M
time-alt = %H:%M:%S

format-background = ${colors.primary}
format-prefix =" "
format-prefix-foreground = ${colors.background}
;format-underline = ${colors.primary}
;#0a6cf5

label = %date% %time%
label-padding = 1

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume> <bar-volume>
label-volume =  墳 %percentage%%
label-volume-foreground = ${colors.background}
format-volume-background = ${colors.primary}

label-muted ="婢     %{T2}%{T-}"
label-muted-foreground = ${colors.background}
format-muted-background = ${colors.primary}

bar-volume-width = 21
bar-volume-foreground-0 = ${colors.background}
;bar-volume-foreground-1 = #55aa55
;bar-volume-foreground-2 = #55aa55
;bar-volume-foreground-3 = #55aa55
;bar-volume-foreground-4 = #55aa55
;bar-volume-foreground-5 = #f5a70a
;bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = 
bar-volume-indicator-font = 2
bar-volume-fill = ""
bar-volume-fill-font = 2

bar-volume-empty = ""
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground}

[module/alsa]
type = internal/alsa

format-volume = <label-volume> <bar-volume>
label-volume = VOL
label-volume-foreground = ${root.foreground}

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted = sound muted

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
prefix="BAT"
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98
format-charging = <animation-charging> <label-charging>
;format-charging-underline = ${colors.primary}
;#ffb52a

format-charging-background = ${colors.primary}
format-discharging = <ramp-capacity> <label-discharging>
;format-discharging-underline = ${self.format-charging-underline}
format-discharging-background = ${colors.primary}

format-full-prefix = " :  "
format-full-prefix-foreground = ${colors.background}
format-full-background = ${colors.background}
;format-full-underline = ${self.format-charging-underline}
label-charging-passing =1 
label-discharging-padding =1 

ramp-capacity-0 =" "
ramp-capacity-1 = " "
ramp-capacity-2 = " "
ramp-capacity-padding = 1
;ramp-capacity-0 = 
;ramp-capacity-1 = 
;ramp-capacity-2 = 
ramp-capacity-foreground = ${colors.background}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.foreground-alt}
animation-charging-framerate = 750

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-foreground = ${colors.foreground-alt}
animation-discharging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 50

format = <ramp> <label>
;format-underline = ${colors.primary}
;#f50a4d
format-background = ${colors.primary}

label-padding =1
label-warn-padding = 1
format-warn = <ramp> <label-warn>
;format-warn-underline = ${self.format-underline}
format-warn-background= ${colors.primary}
hwmon-path = /sys/devices/pci0000:00/0000:00:18.3/hwmon/hwmon0/temp1_input
label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.background}

ramp-0 = " "
ramp-1 = " "
ramp-2  =" "

ramp-foreground = ${colors.background}

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1

label-open ="    "
label-open-foreground = ${bar/example.foreground}
label-close =   x
label-close-foreground = ${bar/example.foreground}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}
label-open-background= ${bar/example.background}
menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = sudo reboot

menu-2-0 = power off
menu-2-0-exec = sudo poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosini
